@font-face {
  font-family: "Circular Bold";
  src: url(fonts/CircularStd-Bold.otf);
}

@font-face {
  font-family: "Circular Book";
  src: url(fonts/CircularStd-Book.otf);
}

/* Reset */

* {
  box-sizing: border-box;
  color: #1f1d1c;
  font-family: "Circular Book";
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* All sections styles */

.section {
  padding: 80px 0;
}

/* Fonts styles */

.section-title {
  font-family: "Circular Bold";
  font-size: 82px;
  line-height: 1;
  margin-bottom: 40px;
}

.description {
  line-height: 1.8;
}

/* CTA styles */

.cta {
  border-bottom: 2px solid #1f1d1c;
  padding-bottom: 5px;
  text-decoration: none;
}

/* Body styles */

body {
  align-items: center;
  background-color: #f9f2ed;
  display: flex;
  flex-direction: column;
}

.page-container {
  max-width: 1196px;
  overflow: hidden;
  padding: 0 40px;
  width: 100%;
}

/* Header styles */

header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  max-height: -webkit-fill-available;
}

/* Navbar styles */

.navbar {
  border-bottom: 1px solid #1f1d1c26;
  display: flex;
  font-family: "Circular Book";
  justify-content: space-between;
  padding: 40px 0;
}

.my-name {
  font-size: 16px;
  font-weight: 400;
}

.menu {
  display: flex;
}

.menu-item {
  list-style-type: none;
  margin: 0 20px;
}

.menu-item:hover {
  transform: translateY(-5px);
  transition: 0.4s;
}

.menu-link {
  cursor: pointer;
  text-decoration: none;
}

.mode-switcher {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.mode-switcher i {
  margin-right: 10px;
}

/* Mobile menu */

.hamburger-menu {
  align-items: flex-end;
  background-color: transparent;
  border: none;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  z-index: 2;
}

.hamburger-menu-closed {
  align-items: center;
  justify-content: stretch;
}

.line {
  background-color: #1f1d1c;
  height: 2px;
}

.line-one {
  transition: 0.5s;
  width: 40px;
}

.line-one-closed {
  background-color: #f9f2ed;
  transform: rotate(45deg);
}

.line-two {
  transition: 0.5s;
  width: 25px;
}

.line-two-closed {
  background-color: #f9f2ed;
  position: relative;
  top: -2px;
  transform: rotate(-45deg);
  width: 40px;
}

.mobile-menu-container {
  background-color: #1f1d1c;
  display: flex;
  flex-direction: column;
  height: 0;
  justify-content: center;
  max-height: -webkit-fill-available;
  overflow: hidden;
  padding: 0 20px;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.5s ease-in-out;
  width: 100%;
}

/* Class to show mobile menu with JS */

.show-mobile-menu {
  height: 100vh;
  padding: 20px;
  z-index: 1;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
}

.mobile-menu-item {
  list-style-type: none;
  margin: 20px;
}

.mobile-menu-link {
  border-bottom: 2px solid #f9f2ed;
  color: #f9f2ed;
  font-size: 36px;
  padding: 10px 0;
  text-decoration: none;
}

/* Hero section styles */

.introduction {
  max-width: 845px;
}

.secondary-text {
  margin-bottom: 10px;
}

.secondary-text span {
  font-size: 24px;
  margin-right: 10px;
}

.hero-section-elements-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.scroll-down-icon {
  margin-right: 40px;
  width: 50px;
}

.hero-section-elements-container img {
  position: relative;
  left: 100px;
}

/* About section styles */

.about-section {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-section-text-container {
  padding-right: 20px;
  width: 50%;
}

.about-title {
  font-family: "Circular Bold";
  font-size: 36px;
  line-height: 1.4;
  margin-bottom: 40px;
}

.about-description {
  margin-bottom: 40px;
}

.about-description p {
  margin-bottom: 40px;
}

.about-image-container {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.about-image-container img {
  max-width: 100%;
}

/* Projects section styles */

.projects-container {
  margin: 0 auto;
  max-width: 680px;
}

.projects-list {
  margin-bottom: 40px;
}

.project {
  border-bottom: 1px solid #1f1d1c26;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  text-decoration: none;
  transition: 1s;
}

.project-text-container {
  align-items: center;
  display: flex;
}

.project-number {
  margin-right: 40px;
}

.project-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-icon-container {
  align-items: center;
  border-radius: 100%;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 50px;
}

.project img {
  transform: rotate(270deg);
  width: 30px;
}

/* Contact section styles */

.contact-section-title {
  max-width: 790px;
}

.contact-details-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.email-container {
  font-size: 36px;
  font-weight: 400;
  margin: 40px 0 120px;
}

.email-container a {
  text-decoration: none;
}

.social-media-list {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.social-media-item {
  list-style-type: none;
  margin-bottom: 20px;
}

.social-media-link {
  border-bottom: 2px solid #1f1d1c;
  padding-bottom: 5px;
  text-decoration: none;
}

/* Footer styles */

footer {
  align-items: center;
  border-top: 1px solid #1f1d1c26;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.scroll-to-top {
  align-items: center;
  display: flex;
  text-decoration: none;
}

.scroll-to-top img {
  margin-left: 10px;
  transform: rotate(180deg);
  width: 30px;
}

/* Responsive styles */

/* Navbar styles */

@media screen and (max-width: 900px) {
  .about-section-text-container {
    padding-right: 0;
    margin-bottom: 60px;
    width: 100%;
  }
  .about-title {
    line-height: 1.2;
  }
  .about-image-container {
    width: 100%;
  }
}

@media screen and (max-width: 815px) {
  .section-title {
    font-size: 72px;
  }
}

@media screen and (max-width: 690px) {
  .menu,
  .mode-switcher {
    display: none;
  }
  .hamburger-menu {
    display: flex;
  }
  footer {
    align-items: flex-start;
    flex-direction: column;
  }
  .phrase {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 660px) {
  .section-title {
    font-size: 60px;
  }
}

@media screen and (max-width: 620px) {
  .contact-details-container {
    align-items: flex-start;
    flex-direction: column;
  }
  .social-media-list {
    text-align: start;
  }
}

@media screen and (max-width: 530px) {
  .project-number {
    display: none;
  }
  .hero-section-elements-container img {
    left: 40px;
  }
  .email-container {
    font-size: 24px;
  }
}

@media screen and (max-width: 460px) {
  .section-title {
    font-size: 48px;
  }
  .about-section {
    padding-top: 180px;
  }
}
