@font-face {
  font-family: "Circular Bold";
  src: url(fonts/CircularStd-Bold.otf);
}

@font-face {
  font-family: "Circular Book";
  src: url(fonts/CircularStd-Book.otf);
}

/* Reset */

* {
  box-sizing: border-box;
  color: #1f1d1c;
  font-family: "Circular Book";
  margin: 0;
  padding: 0;
}

/* All sections styles */

.section {
  padding: 80px 0;
}

/* Fonts styles */

.section-title {
  font-family: "Circular Bold";
  font-size: 82px;
  line-height: 1;
  margin-bottom: 40px;
}

.description {
  line-height: 1.8;
}

/* CTA styles */

.cta {
  border-bottom: 2px solid #1f1d1c;
  padding-bottom: 5px;
  text-decoration: none;
}

/* Body styles */

body {
  align-items: center;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
}

.page-container {
  max-width: 1196px;
  padding: 0 40px;
}

/* Header styles */

header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

/* Navbar styles */

.navbar {
  border-bottom: 1px solid #1f1d1c26;
  display: flex;
  font-family: "Circular Book";
  justify-content: space-between;
  padding: 40px 0;
}

.my-name {
  font-size: 16px;
  font-weight: 400;
}

.menu {
  display: flex;
}

.menu-item {
  list-style-type: none;
  margin: 0 20px;
}

.menu-item:hover {
  transform: translateY(-5px);
  transition: 0.4s;
}

.menu-link {
  cursor: pointer;
  text-decoration: none;
}

.mode-switcher {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.mode-switcher i {
  margin-right: 10px;
}

/* Hero section styles */

.introduction {
  max-width: 845px;
}

.secondary-text {
  margin-bottom: 10px;
}

.secondary-text span {
  font-size: 24px;
  margin-right: 10px;
}

.hero-section-elements-container {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.scroll-down-icon {
  width: 50px;
}

.hero-section-elements-container img {
  position: relative;
  left: 100px;
}

/* About section styles */

.about-section {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-section-text-container {
  max-width: 548px;
}

.about-title {
  font-size: 36px;
  line-height: 1.4;
}

.about-description {
  margin-bottom: 40px;
}

.about-description p {
  margin-bottom: 40px;
}

.about-image-container {
  display: flex;
}

.about-image-container img {
  max-width: 100%;
}

/* Projects section styles */

.projects-container {
  margin: 0 auto;
  max-width: 680px;
}

.projects-list {
  margin-bottom: 40px;
}

.project {
  border-bottom: 1px solid #1f1d1c26;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  text-decoration: none;
  transition: 1s;
}

.project-text-container {
  align-items: center;
  display: flex;
}

.project-number {
  margin-right: 40px;
}

.project-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-icon-container {
  align-items: center;
  border-radius: 100%;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 50px;
}

.project img {
  transform: rotate(270deg);
  width: 30px;
}

/* Contact section styles */

.contact-section-title {
  max-width: 790px;
}

.contact-details-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.email-container {
  font-size: 36px;
  font-weight: 400;
  margin: 40px 0 120px;
}

.email-container a {
  text-decoration: none;
}

.social-media-list {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.social-media-item {
  list-style-type: none;
  margin-bottom: 20px;
}

.social-media-link {
  border-bottom: 2px solid #1f1d1c;
  padding-bottom: 5px;
  text-decoration: none;
}

/* Footer styles */

footer {
  align-items: center;
  border-top: 1px solid #1f1d1c26;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.scroll-to-top {
  align-items: flex-end;
  display: flex;
  text-decoration: none;
}

.scroll-to-top img {
  margin-left: 10px;
  transform: rotate(180deg);
  width: 30px;
}
